<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link href="/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css" />
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-cookies/angular-cookies.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular-touch/angular-touch.js"></script>
    <script src="/angular-carousel/src/angular-carousel.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="StackStoreApp" ng-controller="MainController" class="full">
    <nav-bar></nav-bar>
    <div class="container">
        <ui-view></ui-view>
    </div>
</body>
</html>
