<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>

    <!-- <script src="/angular-cookies/angular-cookies.js"></script> -->
</head>
<body ng-app="StackStoreApp" ng-controller="MainController" class="full">
    <nav-bar user="currentUser"></nav-bar>
    <!-- <side-bar style="position:relative;margin-left:0%;width:10%;height:750px;border:1px solid black;"></side-bar> -->
      <side-bar></side-bar>
    <div class="container" style="margin-left: 15% !important;width: 85% !important;background-color: none !important;">
      <item-banner data="items" title="What's Popular"></item-banner>
      <item-banner data="items" title="Recommended For You"></item-banner>
    </div>
</body>
</html>
