<li ng-click="findCategory(sidebar.text)">
	<div>{{sidebar.text}}</div>
	<ul>
		<li ng-click="findCategory(sidebar.text + ' tops')" stop-event>
			<div>Tops</div>
			<ul style="list-style:none;">
				<li ng-repeat="topType in sidebar.topTypes" ng-click="findCategory(topType.qValue)" stop-event>{{topType.text}}</li>
			</ul>
		</li>
		<li ng-click="findCategory(sidebar.text + ' pants')" stop-event>
			<div>Pants</div>
			<ul>
				<li ng-repeat="bottomType in sidebar.bottomTypes" ng-click="findCategory(bottomType.qValue)" stop-event>{{bottomType.text}}</li>
			</ul>
		</li>
	</ul>
</li>