<div class="panel-body">
	<div class="col-xs-2">
		<img class="img-responsive" ng-src="{{item.image}}">
	</div>
	<div class="col-xs-3">
		<h3>{{item.name}}</h3>
		<p>Sold By: <a href="#">{{item.sellerName}}</a></p>
	</div>
	<div class="col-xs-3">
		<p>Price {{item.price | currency:"$":2}}</p>
		<p>Size: {{item.size}}</p>
		<form name="newQuantityForm" ng-submit="newQuantityForm.$valid && item.editQuantity(item)">
			<label>Quantity: 
				<input type="number" name="quantity" ng-model="item.quantity" min="0" max="{{item.inventory}}" required>
			</label>
			<button type="submit" class="btn btn-primary btn-small">Edit</button>
		</form>
		<span ng-show="item.wasModified">This item was over our available stock, your quantity on order has been modified</span>
	</div>
	<div class="col-4">
		<button class="btn btn-danger" ng-click="item.deleteItem(item)">Remove Item</button>
	</div>
</div>
<hr>