<div class="col-xs-8 col-xs-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">{{ title }}</div>
		<div class="panel-body">
			<form class="form-horizontal" name="addItemForm" ng-submit="addItemForm.$valid && submitItem(item)">
				<div ng-init="setForm(addItemForm)"></div>
				<div class="form-group">
					<label for="itemName" class="col-sm-2 control-label">Name*</label>
					<div class="col-sm-10">
						<input type="text"
							required
							name="itemName"
							class="form-control"
							id="itemName"
							placeholder="Name"
							ng-model="item.name">
						</div>
				</div>
				<div class="form-group">
					<label for="itemPrice" class="col-sm-2 control-label">Price*</label>
					<div class="col-sm-10">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input type="text"
								required
								name="itemPrice"
								ng-pattern="/^\d+\.{0,1}\d{0,2}$/"
								class="form-control"
								id="itemPrice"
								placeholder="Price"
								ng-model="item.price">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="itemDescription" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<textarea class="form-control"
							name="itemDescription"
							id="itemDescription"
							placeholder="Description"
							ng-model="item.description">
						</textarea>
					</div>
				</div>

				<ng-form name="tagForm">
					<div class="form-group">
						<label for="itemTags" class="col-sm-2 control-label">Tags*</label>
						<div class="col-sm-10">
							<p ng-click="removeTag(item, tagData)">{{ item.tags }}</p>
							<select class="form-control"
							 	ng-show="tagData.availTags.length"
								ng-model="tagData.singleTag"
								ng-change="addTag(item, tagData)"
								name="itemTags">
								<option>{{singleTag}}</option>
								<option ng-repeat="tag in tagData.availTags" val>{{ tag }}</option>
							</select>
						</div>
					</div>
				</ng-form>

				<div class="form-group">
					<label for="itemImgUrl" class="col-sm-2 control-label">Image URL</label>
					<div class="col-sm-10">
						<input type="text"
							name="itemImgUrl"
							class="form-control"
							id="itemImgUrl"
							placeholder="Image URL"
							ng-model="item.image">
						</div>
				</div>
				<div class="form-group">
					<label for="itemQuantity" class="col-sm-2 control-label">Quantity*</label>
					<div class="col-sm-10">
						<input type="number"
							min="1"
							required
							name="itemQuantity"
							class="form-control"
							id="itemQuantity"
							placeholder="Quantity"
							ng-model="item.quantity">
						</div>
				</div>
				<div class="form-group">
					<label for="itemSize" class="col-sm-2 control-label">Size*</label>
					<div class="col-sm-10">
						<input type="text"
							required
							name="itemSize"
							class="form-control"
							id="itemSize"
							placeholder="Size"
							ng-model="item.size">
						</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2">
						<a ui-sref="inventory"
							class="btn btn-default">Go Back</a>
						<button type="submit"
							ng-class="{disabled: addItemForm.$invalid}"
							class="btn btn-primary">{{ buttonData }}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>