<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">User Management</div>
		<div class="panel-body">
			<p>
				Manage user permission levels and passwords here!
			</p>
		</div>
		<table class="table table-hover table-responsive">
			<tr class="table-header">
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Address</th>
				<th>Authentication Type</th>
				<th>Permission Level</th>
			</tr>
			<tr ng-repeat="user in users">
				<td> {{ user.name }} </td>
				<td> {{ user.firstName }} </td>
				<td> {{ user.lastName }} </td>
				<td> {{ user.email }} </td>
				<td> {{ user.authType }} </td>
				<td> {{ user.permLevel }} </td>
			</tr>

			<!-- <single-managed-user userdata="user" ng-repeat="user in users"> -->
			<!-- </single-managed-user> -->
		</table>
	</div>
</div>