<div class="row">
	<div class="col-xs-12 section">
		<div class="panel panel-default">
			<div class="panel-heading">Order Summary</div>
			<table class="table table-bordered table-responsive">
				<tr>
					<th>#</th>
					<th>Image</th>
					<th>Description</th>
					<th>Total</th>
				</tr>
				<tr ng-repeat="item in cart.items">
					<!-- Change width styles to not be inline for td elements -->
					<td class="table-100">
						{{$index+1}}
					</td>
					<td class="table-100">
						<img class="img-responsive" ng-src="{{item.image}}"/>
					</td>
					<td>
						<p class="text-right">{{item.price | currency:"$":2}} x {{item.quantity}}</p>
						<p class="text-right">{{item.name}}</p> 
					</td>
					<td class="table-100">
						<p>{{item.price * item.quantity | currency:"$":2}}</p>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right">
						<strong>Subtotal: <span class="success-indicator">{{total | currency:"$":2}}</span></strong>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 white section">
		<div class="checkbox">
			<label>
				<input id="shippingBillingInd" type="checkbox" ng-click="useShippingAsBilling()">Use Shipping Address as Billing Address
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input id="saveShipping" type="checkbox" ng-click="saveAddress()">
				Save Shipping Address
			</label>
		</div>
		<form class="form-inline">
			<div class="form-group" ng-show="user.address.length">
				<label>
					<select ng-model="addressList"
						class="form-control input-sm"
						ng-change="useAddress(addressList)">
						<option value="{{address}}" ng-repeat="address in user.address">{{address.address1}}</option>
					</select>
					Used Saved Address
				</label>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Shipping Address</div>
			<div class="panel-body">
				<form name="shippingAddress"
					ng-submit="shippingAddress.$valid && submitOrder(address)">
					<div class="form-group">
						<label>Address Line 1</label>
						<input type="text"
							required
							name="address1"
							class="form-control"
							placeholder="Address Line 1"
							value="address.address1"
							ng-model="address.address1">
					</div>
					<div class="form-group">
						<label>Address Line 2</label>
						<input type="text"
							name="address2"
							class="form-control"
							placeholder="Address Line 2"
							value="address.address2"
							ng-model="address.address2">
					</div>
					<div class="form-group">
						<label>City</label>
						<input type="text"
							required
							name="city"
							class="form-control"
							placeholder="City"
							value="address.city"
							ng-model="address.city">
					</div>
					<div class="form-group">
						<label>State or Province</label>
						<input type="text"
							required
							name="stateProv"
							class="form-control"
							placeholder="State or Province"
							value="address.stateProv"
							ng-model="address.stateProv">
					</div>
					<div class="form-group">
						<label>Postal Code</label>
						<input type="text"
							required
							name="postalCode"
							class="form-control"
							placeholder="Postal Code"
							value="address.postalCode"
							ng-model="address.postalCode">
					</div>
					<div class="form-group">
						<label>Country</label>
						<input type="text"
							required
							name="country"
							class="form-control"
							placeholder="Country"
							value="address.country"
							ng-model="address.country">
					</div>
					<div class="form-group">
						<label>Phone Number</label>
						<input type="text"
							required
							name="phone"
							class="form-control"
							placeholder="Phone"
							value="address.phone"
							ng-model="address.phone">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6" ng-show="!sameShipping">
		<div class="panel panel-default">
			<div class="panel-heading">Billing Address</div>
			<div class="panel-body">
				<form name="billingAddress"
					ng-submit="billingAddress.$valid && submitOrder(address)">
					<div class="form-group">
						<label>Address Line 1</label>
						<input type="text"
							required
							name="address1"
							class="form-control"
							placeholder="Address Line 1"
							value="billing.address1"
							ng-model="billing.address1">
					</div>
					<div class="form-group">
						<label>Address Line 2</label>
						<input type="text"
							name="address2"
							class="form-control"
							placeholder="Address Line 2"
							value="billing.address2"
							ng-model="billing.address2">
					</div>
					<div class="form-group">
						<label>City</label>
						<input type="text"
							required
							name="city"
							class="form-control"
							placeholder="City"
							value="billing.city"
							ng-model="billing.city">
					</div>
					<div class="form-group">
						<label>State or Province</label>
						<input type="text"
							required
							name="stateProv"
							class="form-control"
							placeholder="State or Province"
							value="billing.stateProv"
							ng-model="billing.stateProv">
					</div>
					<div class="form-group">
						<label>Postal Code</label>
						<input type="text"
							required
							name="postalCode"
							class="form-control"
							placeholder="Postal Code"
							value="billing.postalCode"
							ng-model="billing.postalCode">
					</div>
					<div class="form-group">
						<label>Country</label>
						<input type="text"
							required
							name="country"
							class="form-control"
							placeholder="Country"
							value="billing.country"
							ng-model="billing.country">
					</div>
					<div class="form-group">
						<label>Phone Number</label>
						<input type="text"
							required
							name="phone"
							class="form-control"
							placeholder="Phone"
							value="billing.phone"
							ng-model="billing.phone">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="showProceed">
	<div class="col-xs-12 section">
		<a ng-click="hideProceed()" ui-sref="checkoutView.payment" class="btn btn-primary btn-block btn-lg">PROCEED TO CHECKOUT</a>
	</div>
</div>
<ui-view></ui-view>
