side-bar {
  .panel {
    margin: 0 -15px 0;

    .panel-body {
      padding: 10px 0 0;
    }    
  }
}

category-menu {
  > div > category-item {
    > li {
      font-size: 15px;
      font-weight: 700;
      margin-left: -15px;
      padding-left: 15px;
    }

    > category-collection > ul > category-item {
      > li {
        margin-left: -25px;
        padding-left: 25px;
      }

      > category-collection > ul > category-item {
        li {
          font-size: 12px;
          margin-left: -35px;
          padding-left: 35px;
        }
      }
    }
  }

  ul {
    padding-left: 10px;
    padding-bottom: 5px;
  }

  li {
    list-style: none;
    margin-right: -15px;
  }
  li:hover {
    background-color: #CDCDCD;
    cursor: pointer;
  }
}