<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading">Login to Jeans on Jeans</div>
		<div class="panel-body">
			<p ng-show="unAuthorized" class="text-center error-indicator">
				Incorrect username and password combination
			</p>
			<form name="loginForm" ng-submit="loginForm.$valid && login(user)">
				<div class="form-group" ng-class="{'has-error': unAuthorized}">
					<input type="text"
						required
						name="username"
						class="form-control"
						placeholder="Enter Username"
						ng-model="user.username">
				</div>
				<div class="form-group" ng-class="{'has-error': unAuthorized}">
					<input type="password"
						required
						name="password"
						class="form-control"
						placeholder="Password"
						ng-model="user.password">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-block">Login</button>
				</div>
			</form>
			<button type="button" class="btn btn-info btn-block" ui-sref="createUserAccount"></span>Create an Account</button>

			<hr>
			
			<a role="button" ng-click="googleLogin()" class="btn btn-danger btn-block"></span>Connect with Google+</a>
			<button type="button" ng-click="facebookLogin()" class="btn btn-primary btn-block"></span>Connect with Facebook</button>
		</div>
	</div>
</div>
<div class="col-md-4 col-md-offset-4">
</div>