<h2 style="color: white !important">{{ title }}</h2>
<ul rn-carousel rn-carousel-controls id="{{ name }}" class="image">
  <li ng-repeat="rowOfItems in allSlides">
    <item ng-repeat="item in rowOfItems" data="rowOfItems" class="layer"></item>
  </li>
</ul>

<!-- <div class="col-xs-12"> -->
<!--   <h2 style="color: white !important">{{ title }}</h2> -->
<!--   <div class="carousel slide" id="{{ name }}"> -->
<!--     <div class="carousel-inner"> -->
<!--       <div class="item active"> -->
<!-- 	<div class="row"> -->
<!-- 	  <item ng-repeat="item in active" data="item"></item> -->
<!-- 	</div> -->
<!--       </div> -->
<!--       <div class="item" ng-repeat="anotherRow in extra"> -->
<!-- 	<div class="row"> -->
<!-- 	  <item ng-repeat="item in anotherRow" data="item"></item> -->
<!-- 	</div> -->
<!--       </div> -->
<!--     </div> -->
<!--     <a class="left carousel-control" data-target="#{{ name }}" data-slide="prev" style="cursor: pointer;"><</a> -->
<!-- 													     <a class="right carousel-control" data-target="#{{ name }}" data-slide="next" style="cursor: pointer;">></a> -->
<!--   </div> -->
<!-- </div> -->
