<div class="col-xs-12">
	<div class="carousel slide" id="myCarousel">
		<div class="carousel-inner">
			<div class="item active">
				<div class="row">
					<item ng-repeat="item in active" data="item"></item>
				</div>
			</div>
			<div class="item" ng-repeat="anotherRow in extra">
				<div class="row">
					<item ng-repeat="item in anotherRow" data="item"></item>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">></a>

	</div>
</div>