#single_item {
	color: white;
	.item_img {
		border-radius: 10px;
		max-width: 100%;
		height: auto;
	}
	.tag_btn:after {
		content: "  ";
	}
	.product_panel {
		background-color: #e7e7e7;
		color: black;
		border-radius: 10px;
		opacity: 0.8;
		.col-lg-6 {
			padding: 5%;
		}
	}
	.inStock {
		color: green;
	}
	.soldOut {
		color: red;
	}
	review-panel article {
		background-color: #FAFAFA;
		outline-color: black;
		border-radius: 5px;
		margin-bottom: 2.5%;
	}
	.img_description {
		padding-left: 2.5%;
		margin: 2.5% auto 2.5% auto;
	}
}

@media all and (max-width: 1195px){
	.product_panel {
		margin: 2.5% 2% 2.5% 2%;
		width: 96%;
	}
	.padding_ten {
		padding-left: 2%;
	}
}

@media all and (min-width: 1195px){
	.product_panel {
		margin: 2.5% 10% 2.5% 10%;
	}
	.padding_ten {
		padding-left: 10%;
	}
}