#single_item {
	color: white;
	.item_img {
		border-radius: 10px;
		max-width: 100%;
		height: auto;
	}
	.tag_btn:after {
		content: "  ";
	}
	.inStock {
		color: green;
	}
	.soldOut {
		color: red;
	}
	review-panel article {
		background-color: #FAFAFA;
		outline-color: black;
		border-radius: 5px;
		margin-bottom: 2.5%;
	}
	.review_panel {
		background-color: #e7e7e7;
		color: black;
		border-radius: 10px;
		opacity: 0.8;
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

.product_panel {
	background-color: #e7e7e7;
	color: black;
	border-radius: 10px;
	opacity: 0.8;
	.col-lg-6 {
		padding: 5%;
	}
	img {
		max-width: 50%;
		height: auto;
	}
}

.info_holder{
	
}

#cart_item {
	.product_panel {
		margin: 2.5% 0% 2.5% 0%;
		width: 100%;
	}
}

@media all and (max-width: 1195px){
	.product_panel {
		margin: 2.5% 2% 2.5% 2%;
		width: 96%;
	}
	.padding_ten {
		padding-left: 2%;
	}
	.review_panel {
		width: 97.5%;
	}
}

@media all and (min-width: 1195px){
	.product_panel {
		margin: 2.5% 10% 2.5% 10%;
	}
	.padding_ten {
		padding-left: 10%;
	}
	.review_panel {
		width: 95%;
	}
}