#single_item {
	color: white;
	.padding_ten {
		padding-left: 10%;
	}
	.item_img {
		border-radius: 10px;
		max-width: 100%;
		height: auto;
	}
	.tag_btn:after {
		content: "  ";
	}
	.product_panel {
		margin: 5% 10% auto 10%;
		background-color: #e7e7e7;
		color: black;
		border-radius: 10px;
		opacity: 0.8;
		.col-lg-6 {
			padding: 5%;
		}
	}
}