<span ng-show="currentUser && currentUser !== 'Guest'">
	<form name="reviewCreateForm" ng-submit="reviewCreateForm.$valid && submitReview(newReview, item._id)">
		<div class="form-group">
			<textarea class="form-control" name="review" ng-model="newReview.comment" placeholder="Leave a review..." ng-minLength="25" required></textarea>
		</div>
		<div class="form-group">
			<label for="rating">Rating:</label>
			<label>1 <input type="radio" name="rating" ng-model="newReview.rating" value="1" required></label>
			<label>2 <input type="radio" name="rating" ng-model="newReview.rating" value="2" required></label>
			<label>3 <input type="radio" name="rating" ng-model="newReview.rating" value="3" required></label>
			<label>4 <input type="radio" name="rating" ng-model="newReview.rating" value="4" required></label>
			<label>5 <input type="radio" name="rating" ng-model="newReview.rating" value="5" required></label>
		</div>
		<button type="submit" class="btn btn_primary">Submit</button>
	</form>
	<hr/>
</span>
<review ng-show="item.reviews.length" review="review" ng-repeat="review in item.reviews"></review>
<h4 ng-show="!item.reviews.length">There are currently no reviews of this product.</h4>
