<span ng-show="currentUser && currentUser !== 'Guest'">
	<div class="row">
		<div class="col-md-6">
			<form name="reviewCreateForm" ng-submit="reviewCreateForm.$valid && submitReview(newReview, item._id)">
				<div class="form-group">
					<textarea class="form-control" name="review" ng-model="newReview.comment" placeholder="Leave a review..." ng-minLength="25" required></textarea>
				</div>
				<div class="form-group">
					<label for="rating">Rating:</label>
					<rating ng-model="newReview.rating" max="5" readonly="false"></rating>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	<hr/>
</span>
<div ng-show="item.reviews.length">
	<h4>Reviews By Other Users:</h4>
	<review review="review" ng-repeat="review in item.reviews"></review>
</div>
<h4 ng-show="!item.reviews.length">There are currently no reviews of this product.</h4>
